<CallWallModules>
  <modules>
    <module type="CallWall.Web.GoogleProviderFake.FakeGoogleModule, CallWall.Web.GoogleProviderFake"/>
    <!--<module type="CallWall.Web.EventStore.EventStoreModule, CallWall.Web.EventStore"/>-->
    <module type="CallWall.Web.InMemoryRepository.InMemoryRepositoryModule, CallWall.Web.InMemoryRepository"/>
  </modules>
</CallWallModules>
