<CallWallModules>
    <modules>
      <module type="CallWall.Web.GoogleProvider.GoogleModule, CallWall.Web.GoogleProvider" />
      <module type="CallWall.Web.LinkedInProvider.LinkedInModule, CallWall.Web.LinkedInProvider" />
      <module type="CallWall.Web.EventStore.EventStoreModule, CallWall.Web.EventStore"/>
    </modules>
</CallWallModules>
