<CallWallModules>
    <modules>
      <module type="CallWall.Web.GoogleProvider.GoogleModule, CallWall.Web.GoogleProvider" />
      <module type="CallWall.Web.LinkedInProvider.LinkedInModule, CallWall.Web.LinkedInProvider" />
      <!--<module type="CallWall.Web.EventStore.EventStoreModule, CallWall.Web.EventStore"/>-->
      <module type="CallWall.Web.InMemoryRepository.InMemoryRepositoryModule, CallWall.Web.InMemoryRepository"/>
    </modules>
</CallWallModules>
