body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}

div.contact-card {
    display: inline-block; 
    margin: 10px; 
    width: 300px; 
    height: 100px; 
    overflow: hidden;
}
div.contact-card > table {
    display: inline-table; 
    background: transparent;
}
/*div.contact-card td.avatar-cell {
    width: 100px; 
    height: 100px; 
    background: #808080
}
div.contact-card img.avatar-img {
    width: 100px; 
    height: 100px; 
}*/
div.contact-card td.avatar-cell {
    overflow: hidden;
    width: 100px; 
    height: 100px;
    background: #808080;
    position: relative;
}
div.contact-card img.avatar-img {
    position: absolute;
}


div.contact-card td.title {
    width: 200px; 
    background: #808080
}
div.contact-card td.title h3 {
    text-overflow: ellipsis; 
    max-width: 200px; 
    overflow: hidden;
}

div.contact-card td.title a {
    color: black;
    text-decoration: none;
}
div.contact-card td.title a:hover {
    color: black;
    text-decoration: underline;
}

img.account-icon {
    height: 30px;
    max-height: 30px;
}
img.provider-icon {
    height: 40px;
    max-height: 40px;
}

img.resource-scope-icon {
    max-height: 48px;
    max-width: 48px;
    margin-right: 10px;
}
input[type=checkbox] {
    vertical-align: baseline;
}
.tag {
    display: inline-block;
    color: #ffffff;
    background-color: #3a87ad;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    
    padding: 2px 4px;
    vertical-align: baseline;
    white-space: nowrap;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}