@{
    ViewBag.Title = "Detail";
}
<!--
    TODO : pass to the page the providers that should be used.
    TODO : for each provider call the signal R endpoint and render the VMs.
    TODO : custom dashboard CSS
    TODO : Change the Header bar to have the Avatar+Name on left, and CallWall+Help+Close on the right.
-->
<style>
    /* -- Overrides --*/
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    h1, h2, h3 {
        margin-top: 20px;
    }

    body {
        background-color: #373737; /*CallWall.Windows has #F5303030, but assuming a white background then it becomes #373737 with the alpha channel removed.;*/
        color: #FFFFFF;
    }

    .navbar-inverse .navbar-inner {
        background-color: #800080;
        background-image: none;
    }


    /* --New values --*/

    .kvp {
        padding: 2px 0px 2px 10px;
    }

    .key {
        font-size: 12px; /*TODO: Convert this to a scaling measure that will approximate to the windows font size -LC*/
        color: #A7A7A7;
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    .value {
    }

    h5.closed {
        text-decoration-line: line-through
    }

    ol.messages {
        margin-left: 0;
    }

        ol.messages li {
            list-style-position: inside;
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            border-bottom: 1px solid #545354;
            height: 60px;
            overflow: hidden;
            margin-top: 5px;
        }

            ol.messages li p {
                color: #A7A7A7;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                -ms-text-overflow: ellipsis;
            }

            ol.messages li h5 {
                margin-top: 0px;
                padding-top: 0px;
            }

    dl.calendar {
        margin-top: 0;
    }

        dl.calendar dt {
            float: left;
            margin: 0px;
            padding: 5px;
            width: 55px;
            height: 55px;
            font-weight: 100;
            font-size: 26px;
            line-height: 26px;
            text-align: center;
            color: #A7A7A7;
            border-bottom: 1px solid #545354;
        }

        dl.calendar dd {
            padding: 5px;
            margin: 0px;
            height: 55px;
            border-bottom: 1px solid #545354;
        }

        dl.calendar dt .day {
            letter-spacing: 2px;
        }

        dl.calendar dt .month {
            font-size: 22px;
            line-height: 22px;
        }

        dl.calendar dt.today {
            background: #503C50;
        }

        dl.calendar dd.today {
            background: #503C50;
        }

        dl.calendar dt.past {
            color: #A7A7A7;
        }

        dl.calendar dd.past {
            color: #A7A7A7;
        }
        
        .symbol {
            font-family: "Segoe UI Symbol";
            font-size: 18px;
            line-height: 18px;
        }
        /*
        ol.messages li.received:before {
            float: left;
            margin-top: 35px;
            font-family: "Segoe UI Symbol";
            content: '\2937';
        }
        ol.messages li.sent:after {
            font-family: "Segoe UI Symbol";
            margin-top: 35px;
            content: '\2934';
        }*/
</style>
<div class="title">
    <img src="~/Content/images/AnonContact.svg" alt="Lee Fake Campbell" height="80" style="float: left" />
    <h2>Lee Fake Campbell</h2>
</div>
<div style="clear: both" />

<div class="row">
    <div id="ContactDetailsSection" class="span4 ContentSection">
        <h3>Details</h3>
        <h4>Mr. Lee Fake Ryan Campbell</h4>
        <h5>27 Dec</h5>
        <div>
            <span class="label">Family</span> <span class="label">UK</span>
        </div>

        <h4>Organizations</h4>
        <div class="kvp">
            <div class="key">Work</div>
            <div>RBC Capital Markets</div>
        </div>
        <div class="kvp">
            <div class="key">Owner</div>
            <div>Campbell Consulting London Ltd</div>
        </div>
        <div class="kvp">
            <div class="key">Volunteer</div>
            <div>VLCON - Very long charitable organization name</div>
        </div>

        <h4>Relationships</h4>
        <div class="kvp">
            <div class="key">Wife</div>
            <div>Erynne Campbell</div>
        </div>
        <div class="kvp">
            <div class="key">Brother</div>
            <div>Rhys Campbell</div>
        </div>

        <h4>Phone Numbers</h4>
        <div class="kvp">
            <div class="key">Mobile</div>
            <div>+44 71234 1234</div>
        </div>
        <div class="kvp">
            <div class="key">Work</div>
            <div>+44 21234 1234</div>
        </div>
        <div class="kvp">
            <div class="key">Home</div>
            <div>+44 41234 1234</div>
        </div>
    </div>

    <div id="CommunicationSection" class="span4">
        <h3>Communication</h3>
        <div class="ContentSection">
            <!--TODO: VisualClue for read/unread messages-->
            <ol class="messages">
                <li class="received">
                    <table style="float: left; margin: 5px" >
                        <tr>
                            <td colspan="2">
                                <img src="/Content/Google/images/hangouts_42x42.png" alt="Hangouts chat" style="max-width: 32px; max-height: 32px;" />
                            </td>
                        </tr>    
                        <tr>
                            <td width="50%">
                                <span class="symbol">&#x2937;</span>
                            </td>
                            <td width="50%">
                                
                            </td>
                        </tr>
                    </table>
                    <div>
                        <h5>On My Way</h5>
                    </div>
                </li>
                <li class="sent">
                    <table style="float: left; margin: 5px" >
                        <tr>
                            <td colspan="2">
                                <img src="/Content/Google/images/hangouts_42x42.png" alt="Hangouts chat" style="max-width: 32px; max-height: 32px;" />
                            </td>
                        </tr>    
                        <tr>
                            <td width="50%">
                                
                            </td>
                            <td width="50%">
                                <span class="symbol">&#x2934;</span>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <h5>Dude, where are you?</h5>
                    </div>
                </li>
                <li class="received">
                    <img src="/Content/Google/images/Email_48x48.png" alt="Gmail" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>Pricing a cross example</h5>
                        <p title="Here is the sample we were talking about the other day. It should cover the basic case, the complex multi-leg option case and all the variations in-between. If you have any questions, then just email me back on my home account.">Here is the sample we were talking about the other day. It should cover the basic case, the complex multi-leg option case and all the variations in-between. If you have any questions, then just email me back on my home account.</p>
                    </div>
                </li>
                <li class="received">
                    <img src="/Content/Google/images/hangouts_42x42.png" alt="Gmail" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>Pricing a cross example</h5>
                        <p title="Here is the sample we were talking about the other day. If you find any problems talk to Jim. He might be more helpful.">Here is the sample we were talking about the other day. If you find any problems talk to Jim. He might be more helpful.</p>
                    </div>
                </li>
                <li class="received">
                    <img src="/Content/Facebook/images/facebook_64x64.png" alt="Facebook message" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>Rugby at my place on Saturday morning</h5>
                        <p title="To: James Alex, Simon Real, Brian Baxter, Josh Taylor and Sally Hubard ">To: James Alex, Simon Real + 3 others</p>
                    </div>
                </li>
                <li class="received">
                    <img src="/Content/Twitter/images/Twitter_64x64.png" alt="Tweet" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>#CallWall are recruiting engineers now!</h5>
                        <p title="Retweets: 7">Retweets : 7</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <div id="CalendarSection" class="span4 ContentSection">
        <h3>Calendar</h3>
        <dl class="calendar">

            <dt><span class="day">29</span><br />
                <span class="month">Oct</span></dt>
            <dd>Lunch with Lee</dd>

            <dt><span class="day">27</span><br />
                <span class="month">Oct</span></dt>
            <dd>Training</dd>

            <dt class="today"><span class="day">26</span><br />
                <span class="month">Oct</span></dt>
            <dd class="today">Document Review</dd>

            <dt class="past"><span class="day">16</span><br />
                <span class="month">Oct</span></dt>
            <dd class="past">Document design session</dd>

            <dt class="past"><span class="day">14</span><br />
                <span class="month">Oct</span></dt>
            <dd class="past">Lunch with Lee</dd>

        </dl>
    </div>
</div>

<div class="row">
    <div id="GallerySection" class="span4">
        <h3>Pictures</h3>
    </div>

    <div id="CollborationSection" class="span4">
        <h3>Collaboration</h3>
            <div class="ContentSection">
            <ol class="messages">
                <li>
                    <img src="/Content/Google/images/Drive_128x128.png" alt="Google Drive" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>Design Standards</h5>
                        <p title="Modified 16-Oct">Modified 16-Oct</p>
                    </div>
                </li>
                <li>
                    <img src="/Content/Google/images/Drive_128x128.png" alt="Google Drive" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>EOY 2013 Reports</h5>
                        <p title="Modified 14-Oct">Modified 14-Oct</p>
                    </div>
                </li>
                <li>
                    <img src="/Content/Google/images/Drive_128x128.png" alt="Google Drive" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>Pricing a cross example</h5>
                        <p title="Modified 14-Oct">Modified 14-Oct</p>
                    </div>
                </li>
                <li>
                    <img src="/Content/Github/images/Github_64x64.png" alt="GitHub Issue" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <!--TODO: Find out how to make this work in a supported manner-->
                        <h5><strike>CallWall #122 - install Https</strike></h5>
                        @*<h5 style="text-decoration-line: line-through">CallWall #122 - install Https</h5>*@
                        <p title="Closed 14-Oct">Closed 14-Oct</p>
                    </div>
                </li>
                <li>
                    <img src="/Content/Google/images/Drive_128x128.png" alt="Google Drive" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>Pricing a cross example</h5>
                        <p title="Created 12-Oct">Created 12-Oct</p>
                    </div>
                </li>
                <li>
                    <img src="/Content/Github/images/Github_64x64.png" alt="GitHub Issue" style="float: left; max-width: 32px; max-height: 32px; margin: 5px" />
                    <div>
                        <h5>CallWall #122 - install Https</h5>
                        <p title="Modified 14-Oct">Modified 14-Oct</p>
                    </div>
                </li>
            </ol>
        </div>

    </div>

    <div id="LocationSection" class="span4">
        <div class="ContentSection">
            <h3 style="margin-bottom: 5px">Location</h3>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;ll=51.512722,-0.088534&amp;spn=0.007812,0.021136&amp;t=h&amp;z=16&amp;output=embed"></iframe>
            <br />
            <small>
                <a href="https://maps.google.co.uk/?ie=UTF8&amp;ll=51.512722,-0.088534&amp;spn=0.007812,0.021136&amp;t=h&amp;z=16&amp;source=embed" style="color: #0000FF; text-align: left">View Larger Map</a>
            </small>
        </div>
    </div>
</div>
