@{
    ViewBag.Title = "Lookup Contact";
}
@section header{
    @Styles.Render("~/Content/contactdetails") @*if this is for overrides it should be last?!?!*@
    @Styles.Render("~/Content/themes/base/css")
}


<div>
    <h1>Lookup page</h1>              
</div>
