@model string

@{
    ViewBag.Title = "Lookup found no matches";
}

<section>
    <h2>Look up found no matches</h2>
    <p>
        No matching contacts could be found.
    </p>    
</section>

<hr />

<section>
    Try <a href="@Model">Google</a> to see if you can see a match.
</section>